<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <div class="nav-bar">
        <ul>
            
            <li class="home-btn" onclick='navigateTo("index.html")'>Refresh</li>
            <li onclick='navigateToBlank("https://www.youtube.com/@freelancearchery")'>Youtube</li>
            <li onclick="navigateToBlank('https://www.freelance-archery.de/')">Shop</li>
        </ul>
        <h2>Piep´s Chat</h1>
    </div>
    <div class="nav-bar-mobi">
        <div class="menu-button">
            <button>****<hr><br><hr><br><hr><br></button>
        </div>
        <div class="liste">
            <ul>
                <li onclick='navigateTo("index.html")'>Refresh</li>
                <li onclick='navigateToBlank("https://www.youtube.com/@freelancearchery")'>Youtube</li>
                <li onclick="navigateToBlank('https://www.freelance-archery.de/')">Shop</li>
            </ul> 
        </div>
        
    </div>
    <script src="nav.js"></script>
</body>
</html>