* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
}

#nav {
  margin-bottom: 2px;
  box-shadow: 2px 2px 4px black;
}

.content {
  display: flex;
  flex-direction: column;
  
}

.content .center-content {
  min-width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  height: calc(100vh - 150px);
  background: linear-gradient(90deg, #000 0%, #ff9100 100%);
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 4px black;
}

.content .center-content .user-window {
  background-color: rgba(184, 184, 184, 0.466);
  border-radius: 20px;
  border: 2px solid black;
  margin: 10px;
  min-width: 20%;
  max-width: 3em;
  height: calc(100vh - 175px);
  box-shadow: 2px 2px 4px black;
}

.content .center-content .user-window #user-button {
  background-color: rgba(184, 184, 184, 0.466);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  border-bottom: 0px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.content .center-content .user-window #user-button:hover {
  background-color: rgb(185, 185, 185);
}

.content .center-content .user-window ol {
  list-style: none;
  overflow-y: auto;
  font-weight: 600;
}

.content .center-content .user-window ol li {
  border: 1px solid black;
  background-color: rgb(185, 185, 185);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  max-width: 6em;
  box-shadow: 2px 2px 4px black;
  text-align: center;
}

.content .center-content .chat-window {
  display: flex;
  margin: 10px;
  min-width: 70%;
  justify-content: flex-start;
}

.content .center-content .chat-window ul {
  list-style: none;
  overflow-y: auto;
  font-weight: 600;
  font-style: italic;
}

#user {
  color: blue;
  font-weight: 800;
}

.content .center-content .chat-window li {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px black;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 5px;
  max-width: 40em;
}


.content .input-field {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background: linear-gradient(90deg, #000 0%, #ff9100 100%);
}

.content .input-field .input-center {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content .input-field .input-center .input {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 13px;
  padding-right: 10px;
}

.content .input-field .input-center .input input {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  font-size: large;
}

.content .input-field .input-center .send-button {
  display: flex;
  justify-content: center;
  width: 20%;
  padding: 10px;
  padding-right: 10px;
}

.content .input-field .input-center .send-button button {
  background-color: #ffffff8c;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
}

.blue-text {
  color: blue;
  font-weight: 800;
}

.content .user-change {
  position: absolute;
  display: none;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 3px black;
  flex-direction: column;
  background-color: #ff910080;
  left: 10%;
  top: 20%;
  padding: 30px;
}

.content .user-change.active {
  display: flex;
}

.content .user-change button {
  margin-top: 5px;
  padding: 5px;
  font-size: 15px;
}

.content .user-change input {
  padding: 10px;
  font-size: 18px;
}


::-webkit-scrollbar {
    width: 0px; /* Chrome, Safari, Opera */
    height: 0px;
  }
  
  /* Farbe der Scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #88888800; /* Farbe des Scrollbalkens */
  }
  
  /* Farbe bei Mouse-Over */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #55555500; /* Farbe des Scrollbalkens bei Mouse-Over */
  }
  
  /* Hintergrundfarbe der Scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #3a3a3a00; /* Hintergrundfarbe der Scrollbar */
  }